//  ----------------------------------------------------------------------------
//
//  TYPOGRAPHY
//
//	Headings, body text, lists, code, and more
//	for a versatile and durable typography system.
//
//	It is IMPORTANT to only apply margins on LEFT and BOTTOM of elements.
//	The method of single direction margins helps keeping modules
//	location-independent.
//
//  ----------------------------------------------------------------------------

/*
BOX SIZING
------------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

/*
BASE SETUP
------------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-family: $base-font;
  font-size: 1.8rem;
  line-height: 1.5;

  @media (min-width: $tablet) {
    font-size: 1.9rem;
  }

  @media (min-width: $laptop) {
    font-size: 2rem;
  }

  @media (min-width: $desktop) {
    font-size: 2.1rem;
  }
}

.main {
	overflow-x: hidden;
}

img, video, object {
  max-width: 100%;
}

/*
VERTICAL RHYTHM
------------------------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr {
	margin:0;
	margin-bottom: $space30;
}

/*
LINKS
------------------------------------------------------------------------------*/
a {
  display: inline-block;
  position: relative;
  color: $blue40;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:after {
    content: " ";
    display: block;
    position: absolute;
    right: -2px;
    bottom: -1px;
    left: -2px;
    height: 4px;
    background: $orange40;
    opacity: .8;
    transform: scaleX(0);
    // transform: scaleY(0) translateY(40px);
    transform-origin: center;
    transition: transform .1s ease-in;
  }

  &:hover,
  &:focus,
  &:active {
    &:after {
      transform: scaleX(1);
      // transform: scaleY(1) translateY(0);
      transition: transform .1s ease-out;
    }
  }

  &:active {
    transform: translateY(2px);
  }
}

/*
HEADINGS
------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-weight: $bold-font-weight;
}

h1, .h1 {
  // Minor third scale 1.200
  font-size: 207.4%;

  @media (min-width: $tablet) {
    // Major Third 1.250
    font-size: 244.1%;
  }

  @media (min-width: $laptop) {
    // Perfect fourth scale 1.333
    font-size: 315.7%;
  }

  @media (min-width: $desktop) {
    // Augmented fourth scale 1.414
    font-size: 399.8%;
  }
}

h2, .h2 {
  // Minor third scale 1.200
  font-size: 172.8%;

  @media (min-width: $tablet) {
    // Major Third 1.250
    font-size: 195.3%;
  }

  @media (min-width: $laptop) {
    // Perfect fourth scale 1.333
    font-size: 236.9%;
  }

  @media (min-width: $desktop) {
    // Augmented fourth scale 1.414
    font-size: 282.7%;
  }
}

h3, .h3 {
  // Minor third scale 1.200
  font-size: 144%;

  @media (min-width: $tablet) {
    // Major Third 1.250
    font-size: 156.3%;
  }

  @media (min-width: $laptop) {
    // Perfect fourth scale 1.333
    font-size: 177.7%;
  }

  @media (min-width: $desktop) {
    // Augmented fourth scale 1.414
    font-size: 199.9%;
  }
}

h4, .h4 {
  // Minor third scale 1.200
  font-size: 120%;

  @media (min-width: $tablet) {
    // Major Third 1.250
    font-size: 125%;
  }

  @media (min-width: $laptop) {
    // Perfect fourth scale 1.333
    font-size: 133.3%;
  }

  @media (min-width: $desktop) {
    // Augmented fourth scale 1.414
    font-size: 141.4%;
  }
}

h5, .h5 {
  font-size: 100%;
  text-transform: uppercase;
}
