
/*
BREAKPOINTS
------------------------------------------------------------------------------*/
$tablet: 37.5em;
$laptop: 64em;
$desktop: 90em;

/*
SPACING
------------------------------------------------------------------------------*/
$space10: .4rem;
$space15: .8rem;
$space20: 1.2rem;
$space25: 1.6rem;
$space30: 2.4rem;
$space35: 3.2rem;
$space40: 4.8rem;
$space45: 6.4rem;
$space50: 9.6rem;
$space55: 12.8rem;
$space60: 14.4rem;

$content-max-width: 128rem;

/*
COLORS
------------------------------------------------------------------------------*/
$black: #000;
$gray10: #333;
$white: #fff;

$blue40: #0067C2;
$orange40: #FF8B03;

/*
FONTS
------------------------------------------------------------------------------*/
$base-font: 'ff-dagny-web-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$normal-font-weight: 400;
$bold-font-weight: 700;
