//  ----------------------------------------------------------------------------
//
//  BREADCRUMBS
//
//  ----------------------------------------------------------------------------

.breadcrumbs {
  margin: $space20 0;
  font-size: 70%;
  line-height: $space30;
}
