//  ----------------------------------------------------------------------------
//
//  BUTTONS
//
//  ----------------------------------------------------------------------------

.btn {

  border: 0;
  font: inherit;
  line-height: normal;
  overflow: visible;

  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;

  padding: $space20 $space25;
  background: $blue40;
  color: $white;
  transition: background .1s linear;

  &:after {
    content: none;
  }

  &:hover,
  &:focus,
  &:active {
    background: lighten($blue40, 10%);
    outline: none;
  }
}
