//  ----------------------------------------------------------------------------
//
//  CAROUSEL
//
//  ----------------------------------------------------------------------------

.carousel {
  position: relative;
}

.carousel__slides {
  display: block;
  margin: 0 0 0 #{-40vw};
  padding: 0;
  width: 180vw;
  max-height: 100vh;
  list-style-type: none;
  overflow: hidden;

  img {
    display: block;
  }

  @media (min-width: $tablet){
    width: 100%;
    margin: 0;
  }
}

// .carousel__slide {
//   @media (min-width: $laptop) {
//     margin-top: -10vh;
//   }
// }

.carousel__overlay {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.carousel__h1,
.carousel__h2 {
  color: $white;
  text-shadow: 0 0 25px rgba(0,0,0,0.90);
}

.carousel__h1 {
  margin-bottom: -10px;
  @extend .h2;

  @media (min-width: $tablet) {
    // Major Third 1.250
    font-size: 244.1%;
  }

  @media (min-width: $laptop) {
    // Perfect fourth scale 1.333
    font-size: 315.7%;
  }

  @media (min-width: $desktop) {
    // Augmented fourth scale 1.414
    font-size: 399.8%;
  }
}

.carousel__h2 {
  @extend .h4;
  font-weight: $normal-font-weight;

  @media (min-width: $tablet) {
    // Major Third 1.250
    font-size: 156.3%;
  }

  @media (min-width: $laptop) {
    // Perfect fourth scale 1.333
    font-size: 177.7%;
  }

  @media (min-width: $desktop) {
    // Augmented fourth scale 1.414
    font-size: 199.9%;
  }
}

.scroll-wrapper {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: $space30;
  background: linear-gradient(rgba($black, 0), rgba($black, .4));
  cursor: pointer;

    &:after {
      content: none;
    }

  &:hover {

    &:after {
      content: none;
    }

    .i--label {
      opacity: 1;
    }
  }

  @media (orientation: landscape) {
    display: block;
  }

  @media (min-width: $laptop) {
    display: block;
  }
}

.i--container {
  display: flex;
  justify-content: center;
}

.i--scroll-down {
  position: relative;
  width:28px;
  height: 8px;
}

.i--scroll-down__chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  filter: drop-shadow( 0 1px 1px rgba($black, .4));
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.i--scroll-down__chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.i--scroll-down__chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.i--scroll-down__chevron:before,
.i--scroll-down__chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
}

.i--scroll-down__chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.i--scroll-down__chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.i--label {
  margin-top: 60px;
  color: $white;
  font-weight: $bold-font-weight;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba($black, .5);
  white-space: nowrap;
  opacity: .5;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.slick-arrow {
  display: none!important;
  position: absolute;
  top: 50%;
  left: $space30;
  width: 8px;
  height: 28px;
  opacity: .2;
  transition: opacity .2s ease-out;
  cursor: pointer;
  z-index: 800;

  &:hover {
    opacity: 1;
  }

  &:before,
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    background: $white;
  }

  &:before {
    transform: skew(-30deg, 0deg);
  }

  &:after {
    top: 50%;
    transform: skew(30deg, 0deg);
  }

  @media (min-width: $laptop) {
    display: block!important;
  }
}

.slick-next {
  right: $space30;
  left: auto;
  transform: rotateZ(180deg);
}
