//  ----------------------------------------------------------------------------
//
//  FOOTER
//
//  ----------------------------------------------------------------------------

.footer {

  background: whitesmoke;
  overflow-x: hidden;

  @media (min-width: $tablet) {

    .wrapper {
      display: flex;
    }

    .widget {
      flex: 0 1 50%;
    }

    .widget:last-child {
      margin-left: $space40;
    }

    .section__title,
    .section__subtitle {
      text-align: left;
    }

    .section__subtitle {
      line-height: 1.3;
    }
  }

  @media (min-width: $laptop) {
    .widget:last-child {
      margin-left: $space50;
    }
  }

  @media (min-width: $desktop) {
    .widget:last-child {
      margin-left: $space60;
    }
  }
}

.social {
  display: flex;
}

.social__link {
  display: block;
  width: $space40;
  height: $space40;
}

.social__link {
  margin-left: $space30;

  &:first-child {
    margin-left: 0;
  }

  &:after {
    content: none!important;
  }
}
