//  ----------------------------------------------------------------------------
//
//  HEADER
//
//  ----------------------------------------------------------------------------

.logo {
  display: block;
  max-width: 12rem;
  margin: 0 auto;
}
