//  ----------------------------------------------------------------------------
//
//  HEADER
//
//  ----------------------------------------------------------------------------

.header {

    height: 16rem;
    background-image: url('assets/img/bottles.jpg');
    background-size: cover;
    background-position: center;

    .page-template-page-gastronomie-php &,
    .page-template-page-getraenkemarkt-php & {
      background-image: url('assets/img/case.jpg');
    }

    @media (min-width: $tablet) {
      height: 20rem;
    }

    @media (min-width: $laptop) {
      height: 24rem;
    }
}

.logo {
  display: block;
  max-width: 14rem;
  margin: $space30 auto 0;
  filter: drop-shadow( 0 0 5px rgba($black, .4));
  transition: transform .1s ease-out;

  &:after {
    content: none;
  }

  &:hover {
    transform: translateY(-4px);
    transition: transform .1s ease-in;
  }

  &:active {
    transform: translateY(0);
    transition: transform .1s ease-out;
  }

  @media (min-width: $tablet) {
    max-width: 18rem;
    margin: $space35 auto 0;
  }

  @media (min-width: $laptop) {
    max-width: 21rem;
    margin: $space40 auto 0;
  }

  @media (max-height: 375px) {
    margin: $space10 auto;
  }
}

.home {

  .header {
    position: absolute;
    width: 100%;
    height: 45vh;
    background: none;
    z-index: 100;
  }

  .logo {
    display: block;
    max-width: 14rem;
    margin: 3vh auto 0;
    filter: drop-shadow( 0 0 5px rgba($black, .4));
    transition: transform .1s ease-out;

    &:after {
      content: none;
    }

    &:hover {
      transform: translateY(-4px);
      transition: transform .1s ease-in;
    }

    &:active {
      transform: translateY(0);
      transition: transform .1s ease-out;
    }

    @media (min-width: $tablet) {
      max-width: 18rem;
      margin: $space45 auto 0;
    }

    @media (min-width: $laptop) {
      max-width: 21rem;
      margin: $space50 auto 0;
    }

    @media (min-width: $desktop) {
      max-width: 26rem;
    }

    @media (max-height: 375px) {
      margin: $space10 auto;
    }
  }

  .logo {
    margin: $space35 auto 0;
  }
}
