//  ----------------------------------------------------------------------------
//
//  MAIN NAVIGATION
//
//  ----------------------------------------------------------------------------

.nav-main {
  background: rgba($black, .2);
  font-size: 70.7%;

  @media (min-width: $tablet) {
    font-size: inherit;
  }
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-item {
  flex: 1 0 auto;
  text-align: center;

  a {
    display: block;
    line-height: 4.4rem;
    color: rgba($white, .8);
    text-shadow: 1px 1px 1px rgba($black, .2);

    &:after {
      bottom: 0;
      background: rgba($white, .8);
      transition: background-color .1s linear, transform .1s ease-out;
    }

    &:hover {
      color: $white;

      &:hover,
      &:focus,
      &:active {
        &:after {
          background: $orange40;
        }
      }
    }
  }
}

.current-menu-item {
  a {
    color: $white;

    &:after {
      right: 0;
      left: 0;
      background: $white;
      transform: scaleX(1);
    }
  }
}


//  ----------------------------------------------------------------------------
//
//  PRODUCT NAVIGATION
//
//  ----------------------------------------------------------------------------

.nav-prod {
  display: flex;
  margin-left: -$space20;

  .current-cat a:after {
    transform: scaleX(1);
  }

  @media (min-width: $laptop) {
    display: block;
    flex: 1;
    margin-left: 0;
  }
}

.nav-prod__col {
  flex: 1 0 1;
  width: 50%;
  padding-left: $space20;

  @media (min-width: $laptop) {
    padding-left: 0;
  }
}

.nav-prod__title {
  @extend .h4;
  margin-bottom: $space20;
}

.nav-prod__items,
.children {
  margin: 0 0 $space40;
  padding: 0;
  list-style-type: none;
}
