//  ----------------------------------------------------------------------------
//
//  PAGE LAYOUT
//
//  ----------------------------------------------------------------------------

.main,
.footer {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 $space15;

  @media (min-width: $tablet) {
    padding: 0 $space40;
  }
}

.main {
  padding-top: $space30;

  @media (min-width: $tablet) {
    padding: $space40;
  }

  @media (min-width: $laptop) {
    padding: $space45;
  }

  @media (min-width: $desktop) {
    padding: $space50;
  }
}
