//  ----------------------------------------------------------------------------
//
//  PAGE LAYOUT
//
//  ----------------------------------------------------------------------------

.main,
.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $space15;

  @media (min-width: $tablet) {
    padding: 0 $space40;
  }
}
