//  ----------------------------------------------------------------------------
//
//  PRODUCT GRID
//
//  ----------------------------------------------------------------------------

.grid--prod {
  @media (min-width: $laptop) {
    display: flex;
    justify-content: space-between;
  }
}

.tax-product_category .grid--prod {
  @media (max-width: $laptop - .0625em) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -$space20;

  @media (min-width: $tablet) {
    margin-left: -$space30;
  }

  @media (min-width: $laptop) {
    flex: 3;
  }

  @media (min-width: $desktop) {
    flex: 4;
    padding-left: -$space35;
  }
}

.product {
  flex: 1 1 1;
  width: 50%;
  margin-bottom: $space35;
  padding-left: $space20;

  img {
    display: block;
    margin-bottom: $space15;
    width: 100%;
    transition: transform .1s ease-in;
  }

  &:hover {
    img {
      // transform: translateY(-4px);
      transition: transform .1s ease-out;
    }
  }

  @media (min-width: $tablet) {
    width: 33.33%;
    margin-bottom: $space45;
    padding-left: $space30;
  }

  @media (min-width: $laptop) {
    margin-bottom: $space50;
  }

  @media (min-width: $desktop) {
    width: 25%;
    padding-left: $space35;
  }
}

.product__category,
.product__name {
  @extend .h5;
  margin-bottom: 0;
  color: $black;
  text-transform: none;
}

.product__category {
  display: flex;
  justify-content: space-between;
  margin-bottom: -$space10;

  .text--small {
    font-weight: $bold-font-weight;
  }
}

.product__name,
.product__quantity {
  font-weight: $normal-font-weight;
}

.product__name {
  padding-bottom: $space15;
}

//  ----------------------------------------------------------------------------
//
//  SINGLE PRODUCT PAGE
//
//  ----------------------------------------------------------------------------

.single-product {
  .hero__h1 {
    margin-top: $space25;
  }

  .products {
    max-height: 246px * 2;
    overflow: hidden;

    @media (min-width: $tablet) {
      max-height: 246px;
    }

    @media (min-width: $desktop) {
      margin-left: -$space35;
    }
  }

  .product {
    margin-bottom: $space30;
    max-width: 150px;
    font-size: 75%;
  }
}

.section--single-prod {
  padding-top: 0;
}

.grid--single-prod {
  @media (min-width: $tablet) {
    display: flex;

    .product__content {
      margin-left: $space30;
    }
  }
}

.product__image {
  margin-bottom: $space30;
}
