//  ----------------------------------------------------------------------------
//
//  PRODUCT GRID
//
//  ----------------------------------------------------------------------------

.grid--prod {
  @media (min-width: $laptop) {
    display: flex;
    justify-content: space-between;
  }
}

.tax-product_category .grid--prod {
  @media (max-width: $laptop - .0625em) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.product-category__description {
  margin: $space30 auto 0;
  max-width: 600px;
  font-size: 80%;

  @media (min-width: $tablet) {
    margin: $space35 auto 0;
    font-size: 100%;
  }
}

.products-container {

  @media (min-width: $laptop) {
    flex: 4;
  }

  @media (min-width: $desktop) {
    flex: 5;
    padding-left: -$space35;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -$space20;

  @media (min-width: $tablet) {
    margin-left: -$space30;
  }

  @media (min-width: $laptop) {
    flex: 4;
  }

  @media (min-width: $desktop) {
    flex: 5;
    margin-left: -$space35;
  }
}

.nav-prod + .products {
  margin-bottom: $space35;

  @media (min-width: $tablet) {
    margin-bottom: $space40;
  }
}

.show-all {
  font-size: 80%;
  text-align: right;
}

.product-category__name {
  margin-top: $space35;

  &:first-child {
    margin-top: 0;
  }

  @media (min-width: $tablet) {
    margin-top: $space40;
  }
}

.product-row:last-child {
  margin-bottom: $space35;

  @media (min-width: $tablet) {
    margin-bottom: $space40;
  }
}

.product {
  flex: 1 1 1;
  width: 50%;
  margin-bottom: $space35;
  padding-left: $space20;

  img {
    display: block;
    margin-bottom: $space15;
    width: 100%;
    transition: transform .1s ease-in;
  }

  &:hover {
    img {
      // transform: translateY(-4px);
      transition: transform .1s ease-out;
    }
  }

  @media (min-width: $tablet) {
    // margin-bottom: $space35;
    padding-left: $space30;
  }

  @media (min-width: $laptop) {
    width: 25%;
    margin-bottom: $space20;
  }

  @media (min-width: $desktop) {
    padding-left: $space35;
  }
}

.product__category,
.product__name {
  @extend .h5;
  margin-bottom: 0;
  color: $black;
  text-transform: none;
}

.product__category {
  display: flex;
  justify-content: space-between;
  margin-bottom: -$space10;

  .text--small {
    font-weight: $bold-font-weight;
  }
}

.product__name,
.product__quantity {
  font-weight: $normal-font-weight;
  line-height: 1.5;
}
.product__quantity {
  float: right;
}

.product__name {
  padding-bottom: $space15;
}

//  ----------------------------------------------------------------------------
//
//  SINGLE PRODUCT PAGE
//
//  ----------------------------------------------------------------------------

.single-product {
  .hero__h1 {
    margin-top: $space25;
  }

  .hero__h2:not(:last-child) {
    margin: 0;
    padding: 0;
    border: none;
  }

  .products {
    max-height: 246px * 2;
    overflow: hidden;

    @media (min-width: $tablet) {
      max-height: 246px;
    }

    @media (min-width: $desktop) {
      margin-left: -$space35;
    }
  }

  .product {
    margin-bottom: $space30;
    max-width: 150px;
    font-size: 75%;
  }
}

.section--single-prod {
  padding-top: 0;
}

.grid--single-prod {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;

    .product__image {
      flex: 0 0 60%;
      text-align: center;
    }

    .product__content {
      margin-left: $space30;
    }
  }
}

.product__image {
  margin-bottom: $space30;
}
