//  ----------------------------------------------------------------------------
//
//  PRODUCT GRID
//
//  ----------------------------------------------------------------------------

.products {
  display: flex;
}

.product {
  flex: 1 0 50%;
  margin-left: $space20;

  &:first-child {
    margin-left: 0;
  }
}

.product__name {
  @extend .h5;
  text-transform: none;
  color: $black;
  font-weight: $normal-font-weight;
}
