//  ----------------------------------------------------------------------------
//
//  PAGE SECTIONS
//
//  ----------------------------------------------------------------------------

.section {
  margin: 0 #{-$space15};
  padding: $space40 $space15;

  @media (min-width: $tablet) {
    margin: 0 #{-$space40};
    padding: $space40;
  }

  @media (min-width: $laptop) {
    margin: 0 #{-$space45};
    padding: $space45;
  }

  @media (min-width: $desktop) {
    margin: 0 #{-$space50};
    padding: $space50;
  }
}

.section--alt {
  background: $gray10;
  color: $white;

  .product__name,
  .product__category,
  .product__quantity {
    color: $white;
  }
}

.section__titles {
  position: absolute;
  margin-top: $space50;
  text-shadow: 0 0 25px rgba($black,0.90);

  @media (min-width: 23em) {
    margin-top: $space55;
  }

  @media (min-width: 30em) {
    margin-top: $space40 * 4;
  }

  @media (min-width: $tablet) {
    margin-top: $space40 * 6;
  }

  @media (min-width: 50em) {
    margin-top: $space40 * 8;
  }

  @media (min-width: $laptop) {
    position: static;
    margin: 0;
    text-shadow: none;
  }
}

.section__title {
  margin-bottom: -$space15;

  @media (min-width: $laptop) {
    text-align: center;
  }
}

.section__subtitle {
  font-weight: $normal-font-weight;

  @media (min-width: $laptop) {
    margin-bottom: $space35;
    text-align: center;
  }

  @media (min-width: $desktop) {
    margin-bottom: $space45;
  }
}

.section__grid {
  @media (min-width: $laptop) {
    display: flex;
    align-items: flex-start;
  }
}

.section__img {
  margin: -$space40 #{-$space15} $space30;

  @media (min-width: $tablet) {
    margin: -$space40 #{-$space40} $space30;
  }

  @media (min-width: $laptop) {
    margin: 0;
    flex: 7 0 0;
  }

  @media (min-width: $desktop) {
    flex: 8 0 0;
  }
}

.section__content {
  @media (min-width: $laptop) {
    flex: 5 0 0;
    margin-left: $space30;
  }

  @media (min-width: $desktop) {
    flex: 4 0 0;
    margin-left: $space40;
  }
}
