//  ----------------------------------------------------------------------------
//
//  MAIN PAGE SHOP SECTION
//
//  ----------------------------------------------------------------------------

.shop__grid {
  @media (min-width: $laptop) {
    display: flex;
    align-items: flex-start;
  }
}

.shop__img {
  margin: -$space40 #{-$space15} $space30;

  @media (min-width: $tablet) {
    margin: -$space40 #{-$space40} $space30;
  }

  @media (min-width: $laptop) {
    margin: 0;
    flex: 7 0 0;
  }

  @media (min-width: $desktop) {
    flex: 8 0 0;
  }
}

.shop__content {
  @media (min-width: $laptop) {
    flex: 5 0 0;
    margin-left: $space30;
  }

  @media (min-width: $desktop) {
    flex: 4 0 0;
    margin-left: $space40;
  }
}
