//  ----------------------------------------------------------------------------
//
//  PAGE LAYOUT WRAPPER
//
//  ----------------------------------------------------------------------------

.wrapper {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 $space15;

  @media (min-width: $tablet) {
    padding: 0 $space40;
  }

  @media (min-width: $laptop) {
    padding: 0 $space45;
  }

  @media (min-width: $desktop) {
    padding: 0 $space50;
  }
}
